<div class="d-flex justify-content-between">
    <h4>Add new Employee</h4>

    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div style="overflow: auto; height: 450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Employee Name</span>
            </div>
            <input required minlength="2" type="text"
            class="form-control"
            name="emp_name"
            #emp_name="ngModel"
            [(ngModel)]="service.formData.emp_name">
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Department</span>
            </div>
            <select required type="text"
            class="form-control"
            name="department"
            #department="ngModel"
            [(ngModel)]="service.formData.department">

            <option *ngFor="let dl of listItems" [value]="dl">
                {{dl}}
            </option>
            </select>
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Mail ID</span>
            </div>
            <input required minlength="2" type="text"
            class="form-control"
            name="mail_id"
            #mail_id="ngModel"
            [(ngModel)]="service.formData.mail_id">
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">DOJ</span>
            </div>
            <input required [matDatepicker]="basicDatepicker" type="text"
            class="form-control"
            name="doj"
            #doj="ngModel"
            [(ngModel)]="service.formData.doj">
            <mat-datepicker-toggle matSuffix [for]="basicDatepicker">
            </mat-datepicker-toggle>
            <mat-datepicker #basicDatepicker></mat-datepicker>
        </div>

        <div class="text-left text-danger"
            *ngIf="emp_name.invalid && emp_name.touched">
            Please enter Employee name.
        </div>

        <button class="mt-4" mat-raised-button
        color="primary" type="submit"
        [disabled]="form.invalid">Add Employee</button>
        

    </form>
</div>